@import "../../vars.css";

.container {
    color: var(--color-text);
    padding: 36px 0;
    margin: 60px 10%;
}

.title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.characters {
    margin-top: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    width: 100%;
}

.characters > * {
    flex: 0 1 calc((100% - (5 * 12px)) / 6);
    box-sizing: border-box;
}

.centered {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}