@import "../../vars.css";

.container {
    position: relative;
    z-index: 0;
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.container:hover {
    transform: translateY(0) scale(1.1);
    z-index: 1;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: var(--color-light);
    border: 1px solid var(--color-secondary);
    padding: 18px 24px;
    max-width: 345px;
    transition: transform 0.3s ease;
    cursor: default;
    position: relative;
    z-index: 0;
}

.card:hover {
    transform: scale(1.03);
    z-index: 12;
}

.image {
    margin-bottom: 12px;
}

.title {
    font-size: 21px;
    font-weight: 700;
}

.title a {
    color: var(--color-text);
    text-decoration: underline;
}

.date {
    margin-top: 6px;
    font-size: 15px;
    font-weight: 400;
    color: var(--color-text);
}

.description {
    margin-top: 6px;
    font-size: 18px;
    font-weight: 400;
}

.categories {
    width: 100%;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}

.category {
    font-size: 12px;
    font-weight: 300;
    border-radius: 100px;
    background: var(--color-bg);
    border: 1px solid var(--color-secondary);
    padding: 3px 12px;
}

.links {
    width: 100%;
    margin-top: 18px;
    display: flex;
    justify-content: space-evenly;
}

.link {
    text-decoration: none;
    color: var(--color-bg);
    font-size: 24px;
    font-weight: 600;
    border-radius: 12px;
    background: var(--color-primary);
    padding: 3px 15px;
}

.badge {
    height: 42px;
    vertical-align: middle;
}

.fadeUp {
    opacity: 0;
    transform: translateY(48px);
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.fadeUp.visible {
    opacity: 1;
    transform: translateY(0);
}