@import "../../vars.css";

.container {
    color: var(--color-text);
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    padding: 54px 10%;
    gap: 12px;
}

.text h2 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 4px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 24px;
}

.link {
    display: flex;
    align-items: center;
    gap: 24px;
}

.link img {
    width: 24px;
}

.link a {
    color: var(--color-text);
    text-decoration: underline;
    font-weight: 400;
    letter-spacing: 2px;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column;
        gap: 24px;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links {
        align-items: flex-start;
    }
}