@import "../../vars.css";

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    z-index: 2;
    margin: 0 10%;
}

.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
    cursor: pointer;
}

.menuBtn {
    display: none;
}

.menu {
    display: flex;
}

.menuItems {
    display: flex;
    gap: 48px;
    list-style: none;
}

.menuItems a {
    font-size: 24px;
    color: var(--color-text);
    text-decoration: underline;
}

.burger {
    width: 32px;
    height: 24px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 4;
}

.burger span {
    height: 3px;
    width: 100%;
    background-color: var(--color-text);
    border-radius: 2px;
    transition: all 0.3s ease;
    transform-origin: center;
}

.burger.open span:nth-child(1) {
    transform: translateY(10.6px) rotate(45deg) scaleX(1);
}

.burger.open span:nth-child(2) {
    opacity: 0;
}

.burger.open span:nth-child(3) {
    transform: translateY(-10.6px) rotate(-45deg) scaleX(1);
}

.menuOpen {
    display: flex;
    animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 830px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        position: absolute;
        right: 0;
        top: 39%;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 12px;
        z-index: 3;
    }

    .menuBtn {
        display: block;
        cursor: pointer;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        border-radius: 10px;
        background: var(--color-secondary);
        padding: 24px 24px;
    }

    .menuOpen {
        display: flex;
        z-index: 1;
    }

    .burger {
        display: flex;
    }
}